/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
@import "{wolves:bourbon}/bourbon";
@import "{wolves:bitters}/base";
.home {

	.button-container{
		margin-top: 40%;
		display: flex;
		flex: column noflex;
		justify-content: center;
		.fa {
			padding-right: 30px;
		}
		#newLook {
			background: transparent;
			border-radius: 20px;
			color: #000;
			font-family: 'Playball', sans-serif;
			font-size: 40px;
			font-weight: bold;
			padding-bottom: 20px;
		}
	}


	.votes {
		position: absolute;
		width: 20px;
		height: 20px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		top: 50%;
		@include transition(all .3s ease-in-out);
		&.yesVotes {
			left: 20%;
			background-color: #999;
		}
		&.noVotes {
			background-color:green;
			right: 20%;
		}
	}

}
