<template name="Home">
  <div class="home videoContainer">
    {{#if newLook}}
    	{{#with newLook}}
    	<div>
    		<h1>Your Look:</h1>
    	</div>
    		<center><div id="microphone"></div></center>
	    <pre id="result"></pre>
	    <div id="info"></div>
	    <div id="error"></div>
		    <div id="myVideo" class="myVideo" ></div>
		    <div class="info">

		    	<h2>What do your friends think: <a href="/vote/{{ _id }}" target="blank_">{{ _id }}</a></h2>
			
			</div>
			<div class="yesVotes votes"></div>
			<div class="noVotes votes"></div>
		{{/with}}
	{{ else }}

		<div class="button-container">
			<span class="fa fa-microphone fa-5x"></span>
			<button id="newLook"> "How do I look?"</button>
		</div>

	{{/if}}
	<video id="detectionVideo" preload autoplay loop muted ></video>
	<div class="button-container">
    	<button id="stream">Stream</button>
    	<button id="record">Record</button>
    </div>
	<div id="microphone"></div>
    <pre id="result"></pre>
    <div id="info"></div>
    <div id="error"></div>
    <div id="streamingConfirmation"></div>
  </div>
</template>
