<template name="Home">
  <div class="home videoContainer">
    {{#if newLook}}
    	{{#with newLook}}
		    <div id="myVideo" class="myVideo" ></div>
		    <div class="info">
		    	<h2>Look id: <a href="/vote/{{ _id }}" target="blank_">{{ _id }}</a></h2>
		    	
			</div>
		{{/with}}
	{{ else }}
		<p>We think you look gorgeous, but ask your friends by saying "How Do I Look?", or click the button below.</p>
		<button id="newLook">How do I look?</button>
		
	{{/if}}
	<video id="detectionVideo" preload autoplay loop muted ></video>


  </div>
</template>
